.header__image {
  max-width: 984px;
  height: 615px;
  margin-top: 64px;
  filter: grayscale(100);
}

@media screen and (max-width: 768px) {
  .header__image {
    max-width: 768px;
    height: 480px;
    margin-top: 69px;
  }
}

@media screen and (max-width: 320px) {
  .header__image {
    max-width: 320px;
    height: 200px;
    margin-top: 40px;
  }
}
