.description {
  max-width: 1017px;
  margin: 92px 115px 0 148px;
  display: grid;
  align-items: flex-start;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .description {
    max-width: 720px;
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .description {
    max-width: 288px;
    margin: 44px 16px 0 16px;
  }
}
