.invitation {
  display: grid;
  margin: 92px auto 0 auto;
  max-width: 1184px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  grid-template-columns: 656px;
  grid-template-rows: span 2 254px;
  position: relative;
}

.invitation::before {
  content: "";
  background-image: url("/images/background_invitation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  inset: 0;
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
}

.invitation:hover.invitation {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.8;
}

@media screen and (max-width: 424px) {
  .invitation {
    display: grid;
    margin: 64px 0 0 0;
    max-width: 425px;
    max-height: 50vh;
    grid-template-columns: 288px;
    grid-template-rows: span 2 163px;
  }
}

@media screen and (max-width: 320px) {
  .invitation {
    max-width: 320px;
  }
}
