.places__blocktext {
  display: grid;
  max-width: 484px;
  margin: 48px 0 0 40px;
  row-gap: 25px;
  grid-area: text;
}

@media screen and (max-width: 768px) {
  .places__blocktext {
    max-width: 352px;
    margin: 46px 0 0 28px;
    row-gap: 14px;
    grid-area: text;
  }
}

@media screen and (max-width: 320px) {
  .places__blocktext {
    display: grid;
    max-width: 320px;
    margin: 30px 16px 0 16px;
  }
}
