.header {
  max-width: 984px;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
