.places__title_different_size {
  max-width: 484px;
}

@media screen and (max-width: 768px) {
  .places__title_different_size {
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .places__title_different_size {
    max-width: 288px;
  }
}
