.root{
  background-color: #302f2f;
}

.page{
  margin:0 auto;
  max-width: 1280px;
  min-height: 320px;
  color:#FFFFFF;
  font-family: 'Inter';
}


.page{
  margin:0 auto;
  max-width: 1280px;
  min-height: 320px;
  background-color: #302f2f;
  color:#FFFFFF;
  font-family: 'Inter';
}


@media screen and (max-width: 768px) {
  .page {
      max-width: 768px;
  }
} 

@media screen and (max-width: 320px){
  .page{
      max-width: 320px;
  }
}