.header__title {
  max-width: 793px;
  line-height: 1;
  font-style: normal;
  margin: 90px 0 0 0;
  font-weight: bold;
  font-size: 96px;
}

@media screen and (max-width: 768px) {
  .header__title {
    max-width: 720px;
  }
}

@media (max-width: 424px) {
  .header__title {
    max-width: 393px;
    line-height: 44px;
    margin: 50px 0 0 0;
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    max-width: 288px;
  }
}
