.invitation__link-tickets {
  text-decoration: none;
  border: solid #0278fe;
  border-radius: 8px;
  padding: 13px 20px 13px 20px;
  background: #0278fe;
  max-width: 191px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}

.invitation__link-tickets::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0278fe (0, 0, 0, 0.5);
}

@media screen and (max-width: 320px) {
  .invitation__link-tickets {
    border: solid #0278fe;
    border-radius: 4px;
    margin: 16px 0 0 0;
  }
}
